body {
    background-color: #e9ecef;
}

.card {
    border-radius: 15px;
    margin: 20px 0;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h2 {
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

.btn-success {
    border-radius: 20px;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

.btn-success:hover {
    background-color: #28a745; /
}

.form-control {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.text-center {
    margin-top: 20px;
}
